.page-container {
  height: calc(100% - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderless-button {
  border: 0;
  background-color: transparent;

  mat-icon {
    padding-right: 40px;
  }
}

.login-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(128, 128, 128, 0.082);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 45vh;
  .form-fields {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
}
mat-form-field {
  width: 15vw !important;
}
.buttons-div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

mat-form-field,
mat-label,
input {
  border-color: whitesmoke !important;
  color: whitesmoke !important;
}

.buttons-div > button {
  border-color: whitesmoke !important;
  color: whitesmoke !important;
}

.buttons-div > button:hover {
  background-color: rgba(245, 245, 245, 0.479);
}
