<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ToDoManagement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                <a class="btn btn-outline" href="home">Home</a>
                <a class="btn btn-outline" href="tasks" *ngIf="isAuthenticated">Tasks</a>
            </ul>
            <div class="d-flex gap-2">
                <a class="btn btn-outline" href="login" *ngIf="!isAuthenticated">Login</a>
                <a class="btn btn-outline" href="register" *ngIf="!isAuthenticated">Register</a>
                <a class="btn btn-outline" (click)="Logout()" *ngIf="isAuthenticated">Log Out</a>
            </div>
        </div>
    </div>
</nav>